@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.white { color: #FFF; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 67.80%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  border-top: 6px solid #5386C1;
  position: absolute;
}

.header .wrapper {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
}

h1 a {
  color: #FFF;
  text-indent: -9999px;
}

.header img {
  border: 1px solid;
  float: right;
}

 /*for responsive menu*/
.hamburger {
  width: 25px;
  height: 25px;
  display: none;
  position: absolute;
  right: 5%;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 2px;
  position: absolute;
  top: 50%;
  right: 10%;
  left: 10%;
  background-color: white;
  transition: all 0.5s ease;
}

.hamburger span:nth-child(1) {top:30%; }
.hamburger span:nth-child(3) {top:70%; }
.hamburger:hover span:nth-child(2) {opacity:0; }
.hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(2px,2px); }
.hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(5px,-5px); }

/*normal desktop menu*/
.nav-menu ul {
  display: flex;
  flex-direction: row;
}

.nav-menu li { padding: 0 10px; }

.nav-menu a {
  color: #FFF;
  font-size: 10px;
}

.nav-menu a:hover {
  color: #5386C1;
  text-decoration: underline;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner starts here*/
.banner {
  width: 100%;
  height: 348px;
  background: url("https://via.placeholder.com/1286X348") center/1286px 348px no-repeat;
  z-index: -10;
}

.banner .wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.banner span { text-transform: lowercase; }
.banner p {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.5;
}

.banner p:first-letter { text-transform: capitalize; }

.banner a {
  color: white;
  text-transform: uppercase;
}

.banner a:hover {
  color: #5386C1;
  text-decoration: underline;
}
/*banner ends here*/

/*/ul starts here*/
.details ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details li {
  border-right: 1px solid #D9D9D9;
  margin: 70px 0;
  flex-basis: 30%;
}

.details li:nth-of-type(2) { border-right: 1px solid #E9E9E9; }
.details li:nth-of-type(3) { border:none; }

.details h4 {
  color: #5386C1;
  font-size: 18px;
}

.details h4:first-letter { text-transform: capitalize; }

.details p {
  width: 80%;
  margin: 20px 0 27px 0;
  color: #A9A9A9;
  font-size: 15px;
}

.details a {
  padding: 10px 18px;
  display: inline-block;
  background-color: #5386C1;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

/*ul ends here*/

/*team info starts here*/
.team {
  padding: 72px 0 82px 0;
  background-color: #5386C1;
}

.team h3 { font-size: 35px; }

.team .wrapper > span { 
  margin: 10px 0 48px 0;  
  display: inline-block;
  font-size: 12px;
}

.team .wrapper > span:first-letter { text-transform: capitalize; }

.team ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team li {
  padding: 30px 32px 38px 31px;
  border: 1px solid #bbb;
}

.team figure { margin-bottom: 24px; }
.team img { border-radius: 50%; }

.team h4 {
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: capitalize;
}

.team li span {
  display: inline-block;
  font-size: 12px;
}

.team li span:first-letter { text-transform: capitalize; }

/*team info ends here*/

/*photography starts here*/
.photography { padding: 80px 0 100px 0; }

.photography h3 { 
  margin-bottom: 18px;
  color:#5386C1;
  font-size: 35px;
}

.photography .wrapper > span {
  margin-bottom: 50px;
  display: block;
  color: #A9A9A9;
  font-size: 12px;
  text-align: center;
}

.photography .wrapper > span:first-letter { text-transform: capitalize; }

.photography ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photography li {
  flex-basis: 47%;
}

.photography h4 {
  margin: 22px 0;
  color:#5386C1;
  font-size: 18px;
}

.photography h4:first-letter { text-transform: capitalize; }

.photography p {
  margin-bottom: 24px;
  color:#A9A9A9;
  font-size: 14px;
}

.photography a {
  padding: 10px 18px;
  display: inline-block;
  background-color: #5386C1;
  color: #FFF;
  font-size: 12px;
  text-transform: capitalize;
}
/*photography ends here*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.copy-info,.copy-info a {
  display: inline-block;
  color: #ccc;
  font-size: 10px;
}

.copy-info a:hover { color: #5386C1; }
.copy-info a:nth-child(1) { text-transform: uppercase; }

.social li {
}

.social a {
  text-indent: -9999px;
  margin-left: 10px;
  font-size: 13px;
}

.social a::after {
   color: #5386C1;
   font-family: 'Font Awesome 5 Brands';
   vertical-align: middle;
   font-weight: 100;
   display: block;
   text-indent: 0;
}

.social li:nth-of-type(1) a::after { content: "\f39e"; }
.social li:nth-of-type(2) a::after { content: "\f099"; }
.social li:nth-of-type(3) a::after { content: "\f0e1"; }
.social li:nth-of-type(4) a::after { content: "\f231"; }
.social li:nth-of-type(5) a::after { content: "\f27d"; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 444px starts here*/
@media only screen and (max-width: 540px) {
  .wrapper { width: 89%; }

  /*responsive header starts here*/
  .header,.banner { width: 100%; }
  
  .header .wrapper { 
    margin-top: 19px; 
    position: relative;
  }

  .hamburger { display: inline-block; }

  .nav-menu ul { 
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 5%;
   }

  .nav-menu li { 
    padding: 10px;
    background-color: #5386C1;
    z-index: 10;
 }

  .nav-menu li a { font-size: 18px; }
  .nav-menu a:hover { text-decoration: none;color: white; }
  .nav-menu:hover .menu { display: flex; }

  /*responsive header ends here*/

  /*responsive banner starts here*/
  .banner {
    width: 100%;
    background-position: left top;
    background-size: cover;
  }

  .banner h2 { font-size: 38px; }
  .banner p { font-size: 14px; }
  .details ul { flex-direction: column; }

  /*responsive banner ends here*/

  /*responsive details section starts here*/
  .details li { 
    padding-bottom: 39px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .details li:nth-of-type(1) { margin-top: 39px; }
  .details li:nth-of-type(2) { border-right:none; }

  .details h4 {
    font-size: 25px;
    width: 70%;
  }

  .details p {
    width: 90%;
    font-size: 18px;
  }

  .details a {
    width: 85%;
    font-size: 18px;
  }

  /*responsive details section ends here*/

  /*responsive team section starts here*/
  .team { padding: 43px 0 63px 0; }

  .team .wrapper > span {
    margin: 0;
    font-size: 15px;
  }

  .team ul { display: block;}

  .team li {
    width: 100%;
    padding: 0;
    padding: 46px 0 56px;
    margin-top: 33px;
  }

  .team img {
    width: 160px;
    height: 160px;
  }

  .team h4 { font-size: 22px; }
  .team li span { font-size: 15px; }

  /*responsive team section ends here*/

  /*responsive photography starts here*/
  .photography { padding: 45px 0 37px; }
  .photography h3 { margin-bottom: 15px; }

  .photography .wrapper > span { 
    margin: 0;
    font-size: 16px; 
  }

  .photography ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photography li { 
    flex-basis: 100%;
    text-align: center;
  }

  .photography figure { margin-top: 45px; }

  .photography h4 {
    margin: 35px 0;
    font-size: 22px;
  }

  .photography p {
    margin-bottom: 38px;
    font-size: 18px;
  }

  .photography a {
    width: 90%;
    font-size: 18px;
  }
  /*responsive photography ends here*/

  /*footer starts here*/
  footer .wrapper {
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

  .copy-info { order: 2; }
  .copy-info,.copy-info a { font-size: 13px; }
  .copy-info a:hover { color: #ccc; }

  .social {
    padding: 36px 0 46px;
    border-top: 1px solid #bbb;
  }
  .social a {
    font-size: 20px;
    margin-left: 12px;
  }
  /*footer ends here*/
}  